{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}

    <a href="{% url 'page:article' %}"><span style="font-size: 30px;color: #960d4b">文章</span></a>
	<div class="container-fluid">
		<div class="row fh5co-post-entry">
            {% for article in articles %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'page:article-detail' article.id %}"><img src="/media/{{ article.image }}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta">{{ article.category.name }}</span>
				<a href="{% url 'page:article-detail' article.id %}" ><h2 class="fh5co-article-title">{{ article.title }}</h2></a>
                <h3 class="fh5co-article-title">{{ article.user.nickname }}</h3>
				<span class="fh5co-meta fh5co-date">{{ article.create_time }}</span>
			</article>
            {% endfor %}
        </div>
    </div>

    <div class="clearfix visible-xs-block"></div>


    <a href="{% url 'page:topic' %}"><span style="font-size: 30px;color: #960d4b">话题</span></a>
    <div class="container-fluid">
		<div class="row fh5co-post-entry">
            {% for topic in topics %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'page:topic-detail' topic.id %}"><img src="" alt="{{ topic.content | slice:'50'}}" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta">用户：{{ topic.user.nickname }}</span>
				<span class="fh5co-meta">浏览：{{ topic.read_count }}</span>
                <span class="fh5co-meta">评论：{{ topic.topiccomments_set.count }}</span>
				<span class="fh5co-meta fh5co-date">{{ topic.create_time }}</span>
			</article>
            {% endfor %}
        </div>
    </div>


    <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>

    <a href="{% url 'page:chat' %}" ><span style="font-size: 30px;color: #960d4b">闲聊</span></a>
    <div class="container-fluid">
		<div class="row fh5co-post-entry">
            {% for chat in chats %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'page:chat-detail' chat.id %}"><img src="" alt="{{ chat.content | slice:'50' }}" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta">地区：{{ chat.user.location }}</span>
				<span class="fh5co-meta">浏览：{{ chat.read_count }}</span>
                <span class="fh5co-meta">评论：{{ chat.chatcomments_set.count }}</span>
				<span class="fh5co-meta fh5co-date">{{ chat.create_time }}</span>
			</article>
            {% endfor %}
        </div>
    </div>
			

    <div class="clearfix visible-xs-block"></div>

    <a href="{% url 'page:image' %}"><span style="font-size: 30px;color: #960d4b">看图</span></a>
    <div class="container-fluid">
		<div class="row fh5co-post-entry">
            {% for image in images %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'page:image-detail' image.id %}"><img src="/media/{{ image.url }}" alt="{{ image.title }}" class="img-responsive"></a>
				</figure>
                <span class="fh5co-meta">{{ image.title | default_if_none:"" }}</span>
				<span class="fh5co-meta">用户：{{ image.user.nickname }}</span>
				<span class="fh5co-meta">浏览：{{ image.read_count }}</span>
                <span class="fh5co-meta">评论：{{ image.imagecomments_set.count }}</span>
				<span class="fh5co-meta fh5co-date">{{ image.create_time }}</span>
			</article>
            {% endfor %}
        </div>
    </div>

{##}
{#    <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>#}
{#    <div class="clearfix visible-xs-block"></div>#}
{#    <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>#}
{#    <div class="clearfix visible-xs-block"></div>#}
{#    <div class="clearfix visible-xs-block"></div>#}




{% endblock %}